@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(81, 122, 155);
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.205);
  box-shadow: 0 10px 25px -8px rgba(0, 0, 0, 0.637);
  padding: 20px 40px;
  border-radius: 10px;
}

.header {
  text-align: center;
}
h1 {
  margin-bottom: 10px;
  font-size: 33px;
  font-family: inherit;
}

p {
  text-align: center;
  color: lightblue;
}

.input {
  position: relative;
  margin: 30px 0px;
  max-width: 350px;
  align-items: center;
}

.x,
.y,
.z {
  background-color: rgba(255, 255, 255, 0.911);
  border: 0;
  border-radius: 3px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 18px;
  color: rgb(46, 43, 43);
}

.calc,
.again {
  cursor: pointer;
  display: inline-block;
  align-items: baseline;
  background: lightblue;
  margin: 15px;
  padding: 15px 35px;
  font-family: inherit;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
}

.btn,
.x,
.y,
.z:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.amount {
  font-size: 23px;
  font-family: inherit;
  text-align: center;
  margin: 20px 0;
  padding-top: 10px;
}

.fas {
  position: relative;
  right: -330px;
  font-size: 20px;
  cursor: pointer;
}
.fas:active {
  color: rgba(123, 169, 206, 0.849);
  cursor: pointer;
}

.fa-times {
  background-color: #fff;
  color: rgb(81, 122, 155);
  border: 0;
}

.info {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 25px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px -8px rgba(0, 0, 0, 0.897);
  z-index: 10;
}

.info h1 {
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  color: rgb(81, 122, 155);
  font-size: 24px;
}

.info p {
  font-size: 15px;
  color: rgb(55, 83, 107);
  text-align: left;
}

.info a {
  text-decoration: none;
  color: rgb(105, 177, 236);
}

.close-info {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  backdrop-filter: blur(4px);
  z-index: 5;
}

@media screen and (max-width: 450px) {
  body {
    margin-top: 20px;
  }
  .header {
    margin-top: 20px;
  }

  h1 {
    font-size: 23px;
    font-family: inherit;
  }

  .container {
    position: relative;
    height: 100%;
    width: auto;
  }

  .z {
    margin-bottom: 30px;
  }
  .btn {
    align-items: center;
    margin: 0 auto 10px;
    width: 100%;
  }

  .fas {
    position: relative;
    top: -500px;
    right: -250px;
    font-size: 20px;
    cursor: pointer;
  }

  .info {
    width: 300px;
  }

  .close-info {
    background-color: transparent;
    position: absolute;
    padding-top: 45px;
    right: 10px;
  }
}
