/*//////////////////////////*/
/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/*//////////////////////////*/
/* Root settings */
* {
  font-size: 62.5%;
  box-sizing: border-box;
}

/*//////////////////////////*/
/* Body settings */
body {
  font-family: 'Muli', sans-serif;
  background-color: rgb(81, 122, 155);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 15px 0;
}

.container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 25px -8px rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
}

/*//////////////////////////*/
/* Font settings */
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: inherit;
}

p {
  text-align: center;
  font-size: 1rem;
  font-family: inherit;
}

/*//////////////////////////*/
/* Input fields */
.input {
  position: relative;
  align-items: center;
}

.x,
.y,
.z {
  background-color: rgba(255, 255, 255, 0.911);
  border: 0;
  border-radius: 3px;
  display: block;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 1.5rem;
  color: rgb(46, 43, 43);
}

/*//////////////////////////*/
/* Buttons */
.calc,
.again {
  cursor: pointer;
  background: lightblue;
  margin: 15px;
  padding: 15px 25px;
  font-family: inherit;
  font-size: 1.7rem;
  border: 0;
  border-radius: 10px;
}

.btn,
.x,
.y,
.z:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

/*//////////////////////////*/
/* Message */
.amount {
  font-size: 2.4rem;
  font-family: inherit;
  text-align: center;
  margin: 20px 0;
  padding-top: 10px;
}

/*//////////////////////////*/
/* Info icons */
.fas {
  position: absolute;
  right: 15px;
  top: 30px;
  font-size: 2rem;
  cursor: pointer;
}
.fas:active {
  color: rgba(123, 169, 206, 0.849);
  cursor: pointer;
}

.fa-times {
  background-color: #fff;
  color: rgb(81, 122, 155);
  border: 0;
}
.fa-info-circle {
  position: absolute;
  top: 25px;
  right: 15px;
}

/*//////////////////////////*/
/* Info container and fonts */
.info {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  background-color: white;
  padding: 25px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px -8px rgba(0, 0, 0, 0.897);
  z-index: 10;
}

.info h1 {
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  color: rgb(81, 122, 155);
  font-size: 24px;
}

.info p {
  font-size: 1.4rem;
  color: rgb(55, 83, 107);
  text-align: left;
}

.info a {
  font-size: inherit;
  text-decoration: none;
  color: rgb(105, 177, 236);
}

/*//////////////////////////*/
/* Blur overlay for info container */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  backdrop-filter: blur(4px);
  z-index: 5;
}

.hidden {
  display: none;
}

/*//////////////////////////*/
/* Responsive settings for mobile */
@media screen and (max-width: 380px) {
  h1 {
    font-size: 2.5rem;
    font-family: inherit;
  }

  .z {
    margin-bottom: 20px;
  }

  .btn {
    align-items: center;
    margin: 5px auto;
    width: 100%;
  }
}
