* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: rgb(202, 197, 197);
  background: linear-gradient(#212f57, #889eb3, #212f57);
  /* background-color: #60b347; */
}

/* LAYOUT */
.head {
  position: relative;
  background-color: rgba(255, 255, 255, 0.219);
  padding-bottom: 20px;
}

.head p {
  font-size: 1.4rem;
  font-weight: 100;
  top: 40px;
  padding-top: 5px;
  height: 28px;
  background-color: rgb(40, 54, 75);
}

/* ELEMENTS STYLE */
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: rgb(40, 54, 75);
  text-align: center;
  position: relative;
  width: 100%;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 20px rgb(245, 245, 245);
}

h6 {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  padding-top: 30px;
}

p {
  font-size: 2rem;
  color: rgb(207, 205, 202);
  text-align: center;
  position: relative;
  width: 100%;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contain {
  position: relative;
  text-align: center;
}

.left {
  position: relative;
  margin-left: 10px;
  padding: 20px;
}

.left p {
  text-align: center;
  padding: 1px 20px;
  font-size: 1.5rem;
}

.x,
.y,
.z {
  text-align: center;
  align-items: center;
  font-size: 2.5rem;
  padding: 10px 0px;
  margin: 5px 5px;
}

.calc,
.again {
  margin: 10px 5px;
  padding-top: 20px;
}

.right {
  position: relative;
  width: 275px;
  max-width: 276px;
  background: none;
  display: inline-table;
  color: inherit;
  font-size: 5rem;
  margin: 20px 0px;
}
.amount {
  border: 3px solid rgb(40, 54, 75);
  padding: 20px;
}

.right p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 20px;
  margin: 50px 0px;
}

.btn {
  border: none;
  border-radius: 6px;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: rgb(122, 158, 199);
}

@media only screen and (max-device-width: 720px) {
  header {
    position: relative;
    height: 90px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    width: 100%;
    top: 25px;
    left: 50%;
    text-shadow: 1px 1px 30px rgb(20, 19, 19);
  }

  .head p {
    font-size: 1.2rem;
  }

  .calc,
  .again {
    margin: 5px;
    padding-top: 20px;
  }

  .left {
    position: relative;
    margin-left: 2px;
    padding: 5px;
  }

  .amount {
    font-size: 30px;
    padding: 10px;
    width: 100%;
  }

  .amount p {
    font-size: 3rem;
  }
}
